html {
    scroll-behavior: smooth;
}

body {
  font-family: "Manrope", "Arial", sans-serif;
  font-weight: 400;
  
}

html, body {
  overflow-x: hidden;
}


.header {
    width: 100%;
    max-width: 1150px;
    height: 25px;
    margin: 0 auto;

    box-sizing: border-box;
    margin-top: 32px;
    margin-bottom: 73px;
}

.logo__link {
    display: inline-block;
    box-sizing: border-box;
    width: 127px;

    vertical-align: middle;
}

.logo {
    display: inline-block;
    box-sizing: border-box;

    width: 125px;
    height: 22px;
}

.nav {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 549px;

    vertical-align: middle;

    width: 470px;
}

.nav__link {
    margin-right: 60px;

    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(18, 18, 18);
    text-decoration: none;

    letter-spacing: -0.6px;
}

.nav__link:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 6.5px;
    opacity: 0.5;
}

.main {
    width: 100%;
    margin: 0 auto;
    max-width: 1150px;
}

h1 {
    color: rgb(18, 18, 18);
    font-size: 60px;

    line-height: 60px;

    margin-bottom: 30px;
    letter-spacing: -1.8px;
    max-width: 956px;
}

.about__wrapper {
    position: relative;
    width: 1150px;
    height: 500px;
}

.about {
    position: absolute;

    bottom: 42px;
    left: 40px;

    width: 430px;
    height: 80px;

    color: white;
    font-size: 20px;
    letter-spacing: -0.6px;
    line-height: 27px;
}

.about__title {
    text-transform: uppercase;
    line-height: 50px;
    font-size: 18px;

    margin-top: 135px;
    margin-bottom: 20px;
}

.description {
    font-size: 45px;
    max-width: 1050px;
    min-height: 366px;

    margin-bottom: 30px;
    letter-spacing: -1.4px;
    line-height: 61px;
}

.welcome {
    
    width: 100%;
    max-width: 1150px;
    min-height: 500px;
    background-image: url(../resorces/title-bg.png);;
    background-repeat: no-repeat;
    background-size: cover;
}

.learn-more {

    display: block;
    
    height: 67px;
    width: 255px;
    text-decoration: none;

    font-size: 20px;
    line-height: 67px;
    text-align: center;
    color: white;

    background-color: rgb(173, 24, 24);
    border-radius: 5px;
}

.projects {
    width: 100%;
    margin: 0 auto;
    max-width: 1150px;
}

.project__title {
    text-transform: uppercase;
    line-height: 50px;
    font-size: 18px;

    margin-top: 135px;
    margin-bottom: 20px;
}

.project__card {
    margin-bottom: 90px;
}

.projects__image {
    max-width: 1150px;
    margin-bottom: 12px;
}
.projects__title {
    color: rgb(18, 18, 18);

    font-size: 30px;
    font-weight: 400px;
    line-height: 41px;
    letter-spacing: -1px;
    margin-bottom: 15px;
}
.project__link {
    color: rgb(173, 24, 24);
    font-size: 20px;
    font-weight: 400px;
    line-height: 27px;

    text-decoration: none;

    letter-spacing: -0.6px;
}

.wrapper {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.projects__more-link {

    display: block;

    font-size: 30px;
    font-weight: 400px;
    line-height: 41px;
    color: rgb(173, 24, 24);

    text-decoration: none;

    width: 100%;

    border: 1px solid rgb(173, 24, 24);
    border-radius: 5px;

    text-align: center;

    padding-top: 56px;
    padding-bottom: 56px;
    margin-bottom: 150px;

    letter-spacing: -0.9px;
}

.projects__more-link:hover {
    background-color: rgb(173, 24, 24);
    color: white;
}

.services {
    width: 100%;
    padding-top: 138px;
    padding-bottom: 150px;
    margin: 0 auto;
    max-width: 1150px;
}

.bg {
    background-color: black;
    width: 100%;
}

.services__title {
    color: white;
    margin-bottom: 35px;

    text-transform: uppercase;
    line-height: 50px;
    font-size: 18px;

    margin-bottom: 22px;
}

.card-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px 10px;
}

.service__card {
    position: relative;
    width: calc(50% - 5px);
}
.service__image {
    width: 100%;
    margin-bottom: 25px;
}
.service__title {
    color: white;
    font-size: 30px;
    line-height: 41px;

    letter-spacing: -0.9px;
}

.services__link-wrapper {
    width: 100%;
    margin-top: 100px;
}

.services__link {
    width: 100%;
    height: 150px;
    margin: 0 auto;
    border: none;

    background-color: #AD1818;
    border-radius: 5px;

    font-family: Manrope, Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    letter-spacing: -0.9px;
    color: #fff;
    font-weight: 400;
    font-style: normal;

    padding: 0;
}

.label-wrapper {
    position: absolute;
    left: 30px;
    top: 30px;

    padding: 5px 21px;

    border-radius: 5px;
    background-color: #AD1818;
}

.service__label  {
    color: #fff;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.66px ;
}

.last-item {
    margin: 0px;
}

.feedback__section {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 150px;
}

.feedback__section-title {
    margin-top: 150px;
    font-size: 18px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.feedback__card {
    width: calc(50% - 45px);
    margin-top: 30px;
}

.last__card {
    width: 75%;
}

.feedback__card-title {
    font-size: 45px;
    letter-spacing: -1.35px;
    line-height: normal;
}

.feedback__card-description {
    font-size: 22px;
    letter-spacing: -0.66px;
    line-height: normal;
}

.flat__bg {
    background-image: url(../resorces/bg-bottom.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    height: 717px;
}

.flat {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    max-width: 1400px;

    margin: 0 auto;
    height: 717px;
}

.flat__title {
    position: absolute;
    font-weight: 400px;
    font-size: 30px;
    line-height: 41px;
    color: white;

    width: 443px;

    left: 125px;
    bottom: 60px;

    letter-spacing: -0.9px;
}

.contacts {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 160px;
}

.contacts::before {
    content: '';
    display: block;
    width: 13px;
    height: 22px;
    background-image: url('../resorces/phone-icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    margin-bottom: 13px;
    margin-top: 150px;
}

.contacts__header {
    text-transform: uppercase;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 32px;

    letter-spacing: -0.54px;
}

.tel {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;

    color: rgb(18, 18, 18);
    text-decoration: none;

    letter-spacing: -1.8px;
}

.mail {
    font-size: 60px;
    line-height: 60px;
    opacity: 0.5;

    color: rgb(18, 18, 18);
    text-decoration-thickness: 2px;
    text-underline-offset: 14px;

    letter-spacing: -1.8px;
}

.footer-bg {
    background-color: black;
    width: 100%;
}

.footer {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;

}

.footer__nav {
    width: 1200px;
    margin: 0 auto;

    padding-top: 60px;
    margin-bottom: 87px;

    box-sizing: border-box;

    text-align: center;
}

.footer-nav__link {
    display: inline-block;
    margin-right: 60px;

    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: white;
    text-decoration: none;

    letter-spacing: -0.54px;
}

.footer-nav__link:hover {
    opacity: 0.5;
}

.footer-nav__link:nth-last-child(1) {
    margin-right: 0;
}

.footer__title {
    padding-bottom: 30px;
    font-size: 20px;
    opacity: 0.5;

    color: white;

    text-align: center;

    letter-spacing: -0.6px;
}

h2 {
    letter-spacing: -0.6px;
}

@media (max-width: 1149px) {
    .main {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    h1 {
        width: 100%;
        height: auto;
    }

    .about__wrapper {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .about {
        left: 40px;
        bottom: 30px;
        width: 100%;
        max-width: 430px;
    }

    .about__title {
        margin-top: 115px;
    }

    .description {
        width: 100%;
        max-width: 690px;
    }

    .welcome {
        width: 100%;
        min-height: 500px;
        height: auto;
        padding-left: 15px;
        padding-right: 15px;

        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .projects {
        padding-left: 15px;
        padding-right: 15px;
    }

    .projects__image {
        height: auto;
        width: 100%;
    }

    .projects__title {
        margin-top: 15px;
    }

    .project__card {
        margin-bottom: 80px;
    }

    .projects__more-link {
        margin-bottom: 100px;
    }

    .learn-more {
        font-size: 20px;
    }
  
    .services { 
        width: 100%;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .services__title {
    
    }
    
    .card-wrapper {
        width: 100%;
    }
    
    .service__card {
    
    }
    
    .service__image {
        margin-bottom: 15px;
    }
    
    .service__title {
        font-size: 25px;
        letter-spacing: -0.75px;
    }

    .label-wrapper {
        position: absolute;
        left: 30px;
        top: 30px;

        padding: 7px 27px;

        border-radius: 5px;
        background-color: #AD1818;
    }

    .service__label  {
        color: #fff;
        font-size: 20px;
        line-height: normal;
        letter-spacing: -0.6px ;
    }

    .feedback__section {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 150px;
    }

    .feedback__section-title {
        margin-top: 120px;
        font-size: 18px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .feedback__card {
        width: calc(50% - 5px);
        margin-top: 30px;
    }

    .last__card {
        margin-top: 80px;
        width: 75%;
    }

    .feedback__card-title {
        font-size: 35px;
        letter-spacing: -1.05px;
        line-height: normal;
    }

    .feedback__card-description {
        font-size: 20px;
        letter-spacing: -0.6px;
        line-height: normal;
    }
}

@media (max-width: 959px) {
    .main {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    h1 {
        width: 100%;
        height: auto;

        font-size: 30px;
        line-height: 31px;
    }

    .about__wrapper {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
        height: 304px;
    }

    .about {
        left: 15px;
        bottom: 15px;
        width: 100%;
        max-width: 312px;
        height: auto;
        min-height: 90px;
        letter-spacing: -0.48px;
        font-size: 16px;
        line-height: normal;
    }

    .about__title {
        margin-top: 75px;
        font-size: 14px;
    }

    .description {
        width: 100%;
        max-width: 346px;
        min-height: 100%;
        max-height: 300px;
        font-size: 22px;
        line-height: normal;
        letter-spacing: -0.66px;
    }

    .welcome {
        max-width: 100%;
        min-height: 300px;
        height: auto;
        padding-left: 0;
        padding-right: 0;
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .projects {
        padding-left: 12px;
        padding-right: 12px;
    }

    .projects__image {
        margin-bottom: 0;
        height: auto;
        width: 100%;
    }

    .projects__title {
        margin-top: 20px;
        margin-bottom: 11px;
        font-size: 18px;
    }

    .project__link{
        font-size: 16px;
    }

    .project__card {
        margin-bottom: 80px;
    }

    .projects__more-link {
        font-size: 22px;

        padding-top: 37px;
        padding-bottom: 37px;

        margin-bottom: 80px;
    }

    .projects__image {
        min-height: 250px;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .learn-more {
        height: 51px;
        max-width: 199px;
        box-sizing: border-box;
        font-size: 16px;
        line-height: normal;
        letter-spacing: -0.5px;
        padding: 15px 30px;
    }
    
    .services__title {
        font-size: 14px;
    }
    
    .card-wrapper {
        gap: 60px 10px;
    }
    
    .service__card {
        width: 100%;
    }
    
    .service__image {
        margin-bottom: 10px;
    }
    
    .service__title {
        font-size: 18px;
    }

    .label-wrapper {
        position: absolute;
        left: 24px;
        top: 24px;

        padding: 5px 23px;

        border-radius: 5px;
        background-color: #AD1818;
    }

    .service__label  {
        color: #fff;
        font-size: 14px;
        line-height: normal;
        letter-spacing: -0.42px ;
    }
}